
/* body{
    background-image:
    url('https://i.pinimg.com/originals/90/55/ef/9055efe3ff748587548137dd1e181035.gif');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat:no-repeat;
} */
    /* background-attachment: fixed ; */
    /* background-position: absolute;  */

body{
    background-color: #2b1813;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.imgError{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center
}