body{
    background-color: #2b1813;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.imgError{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center
}