@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Questrial&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h2{
    font-family: 'Oswald', sans-serif;
    color:  #896797;
}

h1{
    font-family: 'Oswald', sans-serif;
    max-width:350px;
    color:  #896797;	
}

p,h4{
    font-family: 'Questrial', sans-serif;
}

button{
    background-color: #896797;
    font-family: 'Questrial', sans-serif;
}


/* Backgorund */
.bodyIndex{
    background-image: url("../img/background");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.bodyNosotros {
    background-image: url("../img/11062b_604ded692d29445eafb087501345229d_mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gradiente {
    background: rgb(0,0,0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.437), rgb(0, 0, 0));
}

.iconosRedes{
    position: fixed;
}

.iconosFooter{
    color: white;
}

/* Buscador del navbar */
.nav-search{
    background: white;
    color: black;
    border-bottom: 2px solid #896797;
    border-top: 2px solid #896797;
    border-right: 0 solid #896797;
    border-left: 2px solid #896797;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    width: 400px;
    height: 35px;
}
.nav-search:focus{
    outline: none;
}
.nav-search-icon{
    background: white;
    color: black;
    border-bottom: 2px solid #896797;
    border-top: 2px solid #896797;
    border-right: 2px solid #896797;
    border-left: 0px solid #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 8px;
    height: 35px;
}
.navbar-logo{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;    
}
.navbar-logo:hover{
    color: #896797;
}
.navbar-menu{
    list-style: none;
    padding-left: 0px;
}
.navbar-link{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
}
.navbar-link:hover{
    color: #896797;
}
.nav-btn{
    color: white;
    visibility: collapse;
    border: none;
}
.active{
    color: #896797;
}

@media only screen and (max-width:767px){
    .iconosRedes{
        display: none !important;
    }
}

@media only screen and (min-width:768px){
    .iconosFooter{
        display: none !important;
    }
}

@media all and (max-width:1199px){

    nav{
        display: block;
    }
    .nav-btn{
        visibility: visible;
        font-size: 25px;
        color: white;
    }
    .nav-btn:hover{
        color: #896797;
        border: none;
    }
    .nav-search{
        width: 400px;
    }
    .container-toggle{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-logo{
        padding-left: 0px;
    }
    .container-search{
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
    .container-menu{
        margin-top: 20px;
        height: 100px;
    }
    .navbar-menu{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }
}

@media all and (max-width:700px){
    .nav-search{
        width: 250px;
    }
}

/* Contenedor gradiente */
/* .gradient{
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 38%, rgba(0,0,0,0.9) 55%, rgba(0,0,0,0.95) 78%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(38%, rgba(0,0,0,0.86)), color-stop(55%, rgba(0,0,0,0.9)), color-stop(78%, rgba(0,0,0,0.95)), color-stop(90%, rgba(0,0,0,0.98)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 38%, rgba(0,0,0,0.9) 55%, rgba(0,0,0,0.95) 78%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 38%, rgba(0,0,0,0.9) 55%, rgba(0,0,0,0.95) 78%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 38%, rgba(0,0,0,0.9) 55%, rgba(0,0,0,0.95) 78%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 38%, rgba(0,0,0,0.9) 55%, rgba(0,0,0,0.95) 78%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
} */


.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.gradiente {
    background: rgb(0,0,0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.437), rgb(0, 0, 0));
}

